@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home {
  padding-left: 200px;
  background-color: rgb(17, 118, 131);
  font-size: 3rem;
}